.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.nav-wrapper a {
  display: block;
  height: 100%;
  padding: 0 15px;
}

#logo {
  flex: 3;
}

#logo a {
  font-size: 1.75rem;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

main div {
  padding: 30px;
}

main div h4 {
  margin-left: -15px;
  font-size: 2.25rem;
}

iframe {
  min-height: 160px !important;
  min-width: 280px !important;
  width: 100%;
  height: 30vh;
}

@media only screen and (min-width: 900px) {
  iframe {
    height: 65vh;
  }

  #logo a {
    width: 50%;
  }
}

#note {
  border: 1px solid blue;
  padding: 0 15px;
}

#note h2 {
  margin: 0;
  font-size: 2.25rem;
}