.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 0 30px;
}

.nav-wrapper a {
  display: block;
  height: 100%;
}

h1 {
  font-size: 3rem;
}

main div {
  padding: 30px;
}

main div h4 {
  margin-left: -15px;
  font-size: 2.25rem;
}

iframe {
  min-height: 160px !important;
  min-width: 280px !important;
  width: 100%;
  height: 30vh;
}

@media only screen and (min-width: 900px) {
  iframe {
    height: 65vh;
  }
}